@namespace WateringOS_4_0.Pages

@implements IDisposable

@using WateringOS_4_0.Models
@using WateringOS_4_0.Services

<div class="control-section" style="padding-left:20px">

    <h5>Enviromental</h5>

    <div class="row">
        <div class="col-fixed env">Rain:</div>
        <div class="col-auto env" ><span class="text" id="stat_Rain">@RecentValues.Rain</span></div>
    </div>
    <div class="row">
        <div class="col-fixed env">Ground:</div>
        <div class="col-auto env" ><span class="text" id="stat_Ground">@RecentValues.Ground / @Interfaces.SPIInterface.Ground</span></div>
    </div>
    <div class="row">
        <div class="col-fixed env">Tank(raw):</div>
        <div class="col-auto env" ><span class="text" id="stat_tank">@Interfaces.SPIInterface.LevelRaw</span></div>
    </div>
    <div class="row">
        <div class="col-fixed env">IntenseSun:</div>
        <div class="col-auto env" ><span class="text" id="stat_SunDuration"> @String.Format("{0:F1}°C",EnvironmentService.IntenseSunDelta) / @String.Format("{0:F1}hrs", EnvironmentService.IntenseSunDuration.TotalHours) @String.Format("({0})",EnvironmentService.IntenseSun).ToLower()</span></div>
    </div>

</div>

<style>
    .col-fixed.env {
        text-align: right;
        padding-top: 7px;
        width: 120px
    }

    .col-auto.env {
        text-align: left;
        padding-top: 7px;
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(delegate { Globals.GUI.HasChanged_slow += Update; });
    }        
    private void Update()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        Globals.GUI.HasChanged_slow -= Update;
    }
}